
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #eaf3ec;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .container {
    width: 80vw;
    height: auto;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  form {
    display: block;
    font-size: auto;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
  
  .form-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .form-input >input:hover{
    cursor: pointer;
    border:1px solid #00793f;

  }
  .full {
    grid-column: span 2;
  }
  
  input,
  textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #86a2a6;
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical;
    height: 100px;
  }
  
  button {
    padding: 12px;
    background-color: #00793f;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color:#004d28; 
  }
  
  .custom-radio {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #86a2a6;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.3s ease;
  }
 
  .custom-radio >input{
    margin-right: 10px;
    border: 1px solid #86a2a6;
  } 
  .checkbox-group {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .checkbox-group label {
    margin-left: 10px;
  }
  .form-input >label>span{
    color:#006c38;
  }
  
  @media (max-width: 600px) {
    body{
        height: auto;
    }
    .grid-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 0.8rem;
    }
    .custom-radio, button{
        font-size: 0.8rem;
    }
    .container {
        width: 90vw;
        height: auto;
        margin: 1rem 0;
    }
  }
  @media (min-width: 768px){
    .contact-form {
        width: 80vw;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
        width: 70vw;
    }
   
}